h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
}

.search .simplesearchinput{
    right: 120px;
    width: 100px;
    padding: 7px 34px 7px 16px !important;
    border: 1px solid #ccc !important;
    font-family: sans-serif;
    font-size: 11px !important;
    font-weight: bold;
    float:right;
}

h3{
    color:rgb(0, 0, 0);
}

button{ 
    float: right;
    padding: 5px;  
}

a {
    /* remove underline on hyperlinks */
    text-decoration: none;
    color: #ffffff;
}

html, body, header, main, section, article, footer, div, a, ul, li, h1, h2, h3, p {
    /* simple reset - resets browser's default styling */
    padding: 3px;
    margin: 5px;
    box-sizing: border-box;

}


body{
    background-color:#cf0000;
    color:555;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 16px;
    line-height:1.6em;
    margin:0;
}


.hightlightme{
    background-color: fff00;}
    p{background-color:rgb(9, 59, 134);
    color: #fff;
    
}


.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    
}

#cta-txt {

    /* format text */
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #333;
    letter-spacing: 1px;
    margin: 10px;
    line-height: 50px;

    /* center text old fashioned-way */
    text-align: center;
}

#cta-btn {

    /* button's width */
    width: 10rem;

    /* button's height */
    height: 3rem;
    margin: 1.3rem 0;

    /* format text */
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    line-height: 1;

    /* format button */
    background-color: rgb(9, 59, 134);
    border-radius: 10px;
    

    /* center child anchor element */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cta-btn a {

    /* make a large touch target */
    /* expand the anchor element to fill height */
    height: 100%;

    /* make a large touch target */
    /* expand the anchor element to fill width along primary axis ( horizontally ) */
    flex-grow: 1;

    /* format font */
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;

    /* format anchor dimsions match the containing h2 element #cta-btn */
    border-radius: 5px;

    /* center the text */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cta-btn a:hover {
    background-color: #0ebfe9;
}


#main-header{
    background-color:rgb(255, 255, 255);
    color:#fff;
}


#navbar{
    background-color:rgb(9, 59, 134);
    color:#fff;
}

#navbar ul{
    padding:0;
    list-style:none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:#fff;
    text-decoration: none;
    font: size 20px;
    padding-right:15px;
}

#showcase{
    background-image: url('../img/tshirts.jpg');
    background-position:center right;
    height: 350px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    line-height: 1.6em;
    padding-top:30px;
    text-align: center;
}

#main{
    float:left;
    color:white;
    width: 70%;
    padding:0 30px;
    box-sizing: border-box;
}

#sidebar{
    float:right;
    width:30%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}

#main-footer{
    background:rgb(9, 59, 134);
    color:rgb(255, 255, 255);
    text-align: center;
    padding:20px;
    margin-top:40px;
    
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }

    sidebar{
        width:100%;
        float:none;
    }
}

footer p {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}


